button {
  background: none;
  border: 2px solid green;
  padding: 12px 30px 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  color: white;
  z-index: 0;
  font-size: 12px;
  outline: none;
}
button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: green;
  transition: .2s;
  z-index: -1;
}
button:hover:before {
  height: 100%;
}
button:hover {
  cursor: pointer;
}
