.outcome {
  height: 200px;
  width: 200px;
  background: #555;
  margin-bottom: 50px;
  border-radius: 50%;
  border-style: dotted;
  border-color: #1c1c1c;
  border-width: 3px;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
  -webkit-transform: rotateY(0deg) rotateX(0deg);
          transform: rotateY(0deg) rotateX(0deg);
  transition: 1s;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: .8;
  color: #222;
  box-shadow: 0 0 30px black;
}
.outcome.flip {
  transition: 1s;
  -webkit-transform: rotateY(720deg) rotateX(720deg);
          transform: rotateY(720deg) rotateX(720deg);
}
.outcome.toss {
  -webkit-animation: toss .7s forwards ease-in-out;
          animation: toss .7s forwards ease-in-out;
}
.outcome:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 185px;
  width: 185px;
  display: block;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.outcome:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 190px;
  width: 190px;
  display: block;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

@-webkit-keyframes toss {
  0% {
    top: 0px;
  }
  50% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}

@keyframes toss {
  0% {
    top: 0px;
  }
  50% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}